.preguntas {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    background-color: #629CF5;
}

.formulario{
    width: 500px;
    margin-top: 50px;
}
.boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.preguntas_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.card {
    min-width: 40%;
}